[submodule "tutorials/MIND2019_IM_RL_SR"]
	path = tutorials/MIND2019_IM_RL_SR
	url = https://github.com/idamomen/MIND2019_IM_RL_SR.git
[submodule "tutorials/2019_MIND_SummerSchool"]
	path = tutorials/2019_MIND_SummerSchool
	url = https://github.com/bobUA/2019_MIND_SummerSchool
